.dropdown-row{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.info{
    margin: 20px 0;
}
.col_1{
    // width: 25%;
}
.col_2{
    // width: 30%;
}
pre{
    white-space: pre-wrap;
    word-break: break-word;
}
.wrapper{
    margin: 2em 5em;
}
.width40{
    width : 40%;
}
.row2 img{
    width: 100%;
}
.separator{
    border: 0.1px solid grey;
}
.row1{
    .col_1{
        max-width: 35%;
    }
    .col_2{
        max-width: 30%;
    }
}